@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: rgba(15, 10, 55, .9);
    color: aliceblue;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 20px;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 10px;
}
h1 span{
    color: rgba(252, 104, 6, 0.685);
}
.test{
    margin: 50px;
}
h5{
    color: rgba(33, 245, 33, 0.726);
    letter-spacing: 1px;
    font-size: 18px;
}
.btn
{
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    border-radius: 40%;
    color: #B9521B;
    cursor: pointer;
}
.btn:hover{
    background:#B9521B ;
    color: rgba(15, 10, 55, .9);
    transition: transform 0.5s;
}
.green{
    color: rgba(33, 245, 33, 0.726);
}
.red{
    color: #B9521B;
}